.hat-editor
    box-sizing: border-box
    font-size: 18px
    line-height: 140%
    * 
        box-sizing: border-box
        font-size: 18px
        line-height: 140%
    background: white
    padding: 5px
    font-family: "San Francisco","Helvetica Neue","Helvetica",sans-serif
    a.block
        width: 100%
        text-align: center
        color: #757575
        border: 1px solid #757575
        border-radius: 10px
        display: block
        padding: 10px
        text-decoration: none
        text-transform: uppercase
        margin: 15px 0 5px
        span
            background: #aaa
            color: white
            display: inline-block
            height: 25px
            font-size: 20px
            width: 25px
            border-radius: 50%
    .block
        box-shadow: 0 0 4px rgba(0,0,0,0.35)
        margin: 5px 0
        position: relative
        display: grid
        grid-template-columns: 30px auto 30px
        &.moving-down
            transition: transform 0.3s
            transform: translateY(100%)
        &.moving-up
            transition: transform 0.3s
            transform: translateY(-100%)
        div[aria-label="Block Controls"]
            display: grid
            grid-template-rows: 30px auto 30px
            button
                background: #eee
                cursor: pointer
                &:nth-of-type(2)
                    cursor: grab
                &[disabled]
                    cursor: not-allowed
        a.settings
            background-color: #999
            padding-left: 3px
            display: block
            cursor: pointer
            position: relative
            svg
                color: white
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
        &.paragraph
            .toolbar
                button
                    background: white
                    border-left: 0
                    border-top: 0
                    border-bottom: 0
                    border-right: 1px solid rgba(0,0,0,0.3)
                    color: #777
                    cursor: pointer
                    &:hover
                        color: #333
                    &.active
                        color: blue
            position: relative
            .contentContainer
                position: relative
                transform-style: perserve-3d
                div[contenteditable="true"]
                    min-height: 100px
                    backface-visibility: hidden
                    position: relative
                    padding: 10px
                    width: 100%
                    transition: transform 0.8s
                    z-index: 1
                    transform-origin: center
                    transform: rotateX(0deg)
                    &.editContainer
                        border: solid 1px #ddd
                    &.htmlView
                        background: #eee
                        font-family: monospace
                    &.flip
                        position: absolute
                        top: 0
                        left: 0
                        transform: rotateX(-180deg)


@-webkit-keyframes flip-diagonal-2-br
    0%
        -webkit-transform: rotate3d(-1, 1, 0, 0deg)
        transform: rotate3d(-1, 1, 0, 0deg)
    100%
        -webkit-transform: rotate3d(-1, 1, 0, 180deg)
        transform: rotate3d(-1, 1, 0, 180deg)
@keyframes flip-diagonal-2-br
    0%
        -webkit-transform: rotate3d(-1, 1, 0, 0deg) 
        transform: rotate3d(-1, 1, 0, 0deg)
        position: relative
    100%
        -webkit-transform: rotate3d(-1, 1, 0, 180deg)
        transform: rotate3d(-1, 1, 0, 180deg)
        position: absolute
